{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
	 <div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>SRI CREMON MONTESSORI REGISTRATION FROM</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div>
		</div>
	</div>

            <div>Admissions are open for the new term starting in June, 2014. Please fill in the following admission inquiry form and we will contact you regarding your child's admission.</div>

	<h2>Please provide your child's information</h2>

            

          

          <form class="form-horizontal">
<fieldset>


<div>* Required</div

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name*</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-control input-md" required="">
    
  </div>
</div><br/>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">last Name*</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Last Name" class="form-control input-md" required="">
    
  </div>
</div><br>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic" style="width:380px;">Sex&nbsp;&nbsp;&nbsp;</label>
  
  
    <select id="selectbasic" name="selectbasic" class="form-control" style="width:380px;">
      <option value="1">Male</option>
      <option value="2">Female</option>
    </select>
  
</div><br>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Date of Birth</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="D.O.B" class="form-control input-md" required="">
    
  </div>
</div><br>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Current School</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
  
  <div style="margin-left: 280px;margin-top: 19px;width: 84px;height: 40px;font-size:14px;
    font-weight:700;">
<button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
</div>
    
  </div>
</div><br>

</fieldset>
</form>


                    <h2>Please provide your information</h2>

         <form class="form-horizontal">
<fieldset>


<div>* Required</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name*</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="First Name" class="form-control input-md" required="">
    
  </div>
</div><br/>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">last Name*</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Last Name" class="form-control input-md" required="">
    
  </div>
</div><br>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone Number*</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="number" placeholder="" class="form-control input-md" required="">
    
  </div>
</div><br>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="email" placeholder="Last Name" class="form-control input-md" required="">
    
  </div>
</div><br>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Address</label>
  <div class="col-md-4">                     
    <textarea class="form-control" rows="5" cols="50" id="textarea" name="textarea"></textarea>
  </div>
</div><br>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic" style="width:380px;">Relation of Child</label>
  
    <select id="selectbasic" name="selectbasic" class="form-control" style="width:380px;">
      <option value="1">Mother</option>
      <option value="2">Father</option>
	  <option value="2">Guardian</option>
    </select>
  
</div>
<div style="margin-left: 660px;margin-top: 19px;width: 84px;height: 40px;font-size:14px;
    font-weight:700;">
<button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
</div>

<br>


</fieldset>
</form>
</div>
</div>
    
	{% endblock %} 
