{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
	
 <div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>Sri Cremon Branches</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div><!--end sectionTitle -->
			</div>
	</div>
	             
<div class="section"> <div class="container"> <div class="row"> <div class="col-md-3"> <img src="/static/cremon-static/assets/img/header/dummy.jpg" class="img-responsive"> </div><div class="col-md-9">
                  
                <p><strong>Cremon Montessori school was founded with the vision of enabling children to reach their full potential through the principles of Montessori education leading towards a more harmonious and peaceful world. </strong></p>
                <p>Children are provided huge working space and play areas are specifically designed for the needs of each age group, insuring maximum safety and security.</p>
<br>
<br>
                <p>The Montessori education allows children to experience the joy of learning at an early age. Each child works and learns at his or her own pace, and according to his or her capacities in a non-competitive atmosphere. Children of varying ages work together in the same environment, stimulating both academic and social growth.Except for infant/toddler groups , the teaching ratio at Cremon is one-trained Montessori adult for (approximately) every set of 15 children.</p>


              </div><!--  end entry -->

                 </div> </div> </div> </div><br>

<div class="section" style="padding-right: -35px;margin-right: -24px;"> <div class="container"> <div class="row"> <div class="col-md-3"> <img src="/static/cremon-static/assets/img/header/dummy.jpg	" class="img-responsive"> </div><div class="col-md-9">
                  
                <p><strong>Cremon Montessori school was founded with the vision of enabling children to reach their full potential through the principles of Montessori education leading towards a more harmonious and peaceful world. </strong></p>
                <p>Children are provided huge working space and play areas are specifically designed for the needs of each age group, insuring maximum safety and security.</p>
<br>

                <p>The Montessori education allows children to experience the joy of learning at an early age. Each child works and learns at his or her own pace, and according to his or her capacities in a non-competitive atmosphere. Children of varying ages work together in the same environment, stimulating both academic and social growth.Except for infant/toddler groups , the teaching ratio at Cremon is one-trained Montessori adult for (approximately) every set of 15 children.</p>

              </div><!--  end entry -->

                 </div> </div> </div> </div>





            </div>

            <div class="c-4 sidebar">
            <div class="c-4 sidebar">

                <!-- end widget-working-hours -->

                

					<!-- end widget-what-we-do --><!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->

	
	
	
	
	
	{% endblock %} 
