{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
 <div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>List of Holidays—Year 2017-2018</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div>

            

             <iframe src="https://calendar.google.com/calendar/embed?src=en.indian%23holiday%40group.v.calendar.google.com&ctz=Asia/Calcutta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                

          </div>

            <div class="c-4 sidebar">

            </div><!-- end widget-what-we-do --><!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->

	{% endblock %} 
