{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

<script>
$(document).ready(function(){ 
    $('#characterLeft').text('140 characters left');
    $('#message').keydown(function () {
        var max = 140;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('red');
            $('#btnSubmit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#btnSubmit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});



</script>
{% block body_block %}
	<!-- ================================ -->
	<!-- ========== END OF HEADER  ========== -->
	<!-- ================================ -->

<section class="contact sectionPadding" >
		<div class="container">
			<div class="row">
				<div class="col-sm-12" style="padding:0;">
					
					

								
							

                 <h3><strong><u style="font-size: 25px;">QUICK CONTACT</u></strong></h3>
				 <p><b>Address : </b>
Sri Cremon Montessori School, 55-14-89, HB Colony Rd, Visakhapatnam, Andhra Pradesh 530013.</p>
<p><b>Contact Person : </b>Mr. Vishwanath : 9849093666 , Ms. Bindu : 9985713178 </p>
<p><b>To Join WhatsApp group : </b>9849093666 / 9985713178</p>
<p><b>Facebook page : </b><a href="https://www.facebook.com/Sricremon" target="_blank">fb.me/sricremon </a> </p>
				 
                   <div class="container">
<div class="col-md-5">
{% if done %}
        <p> Your Message has been forwaded to the respective authorities. Thank You</p>


        {% else %}
    <div class="form-area" style="background-color: #f0ede5;padding: 10px 40px 60px;margin: 10px 0px 60px;border: 1px solid GREY;">  
        <form role="form" id="contact_form" method="post" action="/contact"
              enctype="multipart/form-data">
			  {% csrf_token %}
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
					
                    <div class="form-group">
                    <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                          
                    </div>
<button type="submit" class="btn btn-primary pull-right">Submit</button>
            
        <!--<button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>-->
		{% endif %}
        </form>
    </div>
</div>
<div class="col-sm-7" style="border:1pxsolid black;">
					<div><iframe height="200px"src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=400&amp;hl=en&amp;q=55-14-89%2C%20HB%20Colony%20Rd%2C%20Visakhapatnam%2C%20Andhra%20Pradesh%20530013.+(Sri%20Cremon%20Montessori%20%20School)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ro/creeaza-harta-google/"></a> <a href="http://www.mapsdirections.info/ro/"></a></iframe></div><br />
				</div>
</div>		
					
					 
				</div>

			</div><!--end row -->
		</div>
		
	</section>


	{% endblock %} 
