{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
<div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>Events</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div>
            <table border="1" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top"><p align="center">Dates</p></td>
                <td valign="top"><p align="center">Places</p></td>
              </tr>
              <tr>
                <td valign="top"><p>July 18</p></td>
                <td valign="top"><p>Botanical garden                                        </p></td>
              </tr>
              <tr>
                <td valign="top"><p>September 12</p></td>
                <td valign="top"><p>Orphanage home</p></td>
              </tr>
              <tr>
                <td valign="top"><p>October 10</p></td>
                <td valign="top"><p>Deer park</p></td>
              </tr>
              <tr>
                <td valign="top"><p>November 28</p></td>
                <td valign="top"><p>ZOO</p></td>
              </tr>
              <tr>
                <td valign="top"><p>January</p></td>
                <td valign="top"><p>Army campus</p></td>
              </tr>
              <tr>
                <td valign="top"><p>February 27</p></td>
                <td valign="top"><p>Farm</p></td>
              </tr>
            </table>
<!--  end entry -->

                

          </div>

            <!-- end widget-what-we-do -->

                

                <!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->
	{% endblock %} 
