{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
	
	<section class="gallery" style="margin-bottom:12rem;margin-top:-2rem;" > 
		<div class="gallerySection" style="background:none!important;border:none">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 titleGallery">
						<h1>Gallery</h1>
						
						<div class="categories">
							<ul class="clearfix" data-option-key="filter">
								<li> <a href="#" class="selected" data-option-value="*">All</a></li>
								<li> <a href="#" data-option-value="">Drawing</a></li>
								<li> <a href="#" data-option-value="">Excursions</a></li>
								<li> <a href="#" data-option-value="">Courses</a></li>
								<li> <a href="#" data-option-value="">Play time</a></li>
							</ul>
						</div><!--end categories -->
					</div><!--end titleGallery -->
					
					<div class="col-sm-12">				
						<div class="contentGallery row">
							<ul class="clearfix">
								<li class="drawing col-sm-4" >
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-5013472-pupils-at-lesson-l.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-5013472-pupils-at-lesson-l.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="courses col-sm-4" >
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4736450-smart-schoolboy-l.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4736450-smart-schoolboy-l.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="drawing col-sm-4 ">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-3561819-youthful-learners-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-3561819-youthful-learners-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="playtime col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4380915-schoolboy-in-school-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4380915-schoolboy-in-school-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="drawing col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4736468-little-learner-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4736468-little-learner-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="excursions col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4372078-cute-friends-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4372078-cute-friends-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>

								<li class="drawing col-sm-4" >
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-5013472-pupils-at-lesson-l.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-5013472-pupils-at-lesson-l.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="courses col-sm-4" >
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4736450-smart-schoolboy-l.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4736450-smart-schoolboy-l.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="drawing col-sm-4 ">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-3561819-youthful-learners-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-3561819-youthful-learners-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="playtime col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4380915-schoolboy-in-school-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4380915-schoolboy-in-school-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="drawing col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4736468-little-learner-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4736468-little-learner-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
								
								<li class="excursions col-sm-4">
									<div class="wrapper-article galleryPopup1">
										<a href="/static/cremon-static/assets/img/Images/photodune-4372078-cute-friends-xs.jpg">
											<img src="/static/cremon-static/assets/img/Images/photodune-4372078-cute-friends-xs.jpg" alt="" class="img-responsive">
											<h3> <i class="fa fa-picture-o"></i></h3>
										</a>
									</div><!--end wrapper-article -->
								</li>
							</ul>
						</div>
					</div><!--end contentGallery -->
				</div><!--end row -->
			</div><!--end container -->
		</div><!--end gallerySection -->
	</section>
	<!-- ================================ -->
	<!-- ========== END GALLERY SECTION ========== -->
	<!-- ================================ -->









	<!-- ================================ -->
	<!-- ========== START FOOTER  ========== -->
	<!-- ================================ -->
	{% endblock %} 
