	{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}

 <section class="sectionPadding teachers" style="background-image:url(/static/cremon-static/assets/img/Images/geometry2.png);" > 
		<div class="container">
			<div class="row">
			
							<h2>Sri Cremon Highlights</h2>
							<div class="underline">
								<span class="line"></span>
							</div><br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li>
					Purpose built Infrastructure.
				</li>
				<li>
					100% Montessori approach.
				</li>
				<li>
					Complete set of montessori equipments.
				</li>
				<li>
					Montessori trained teachers only.
				</li>
				<li>
					Trachers - student ration maintained at 1:10.
				</li>
				<li>
					Stress on "Holistic Development" (Montessori and various fun activiteis for the children)
				</li>
				<li>
					Excursions and field trips for experience of practial life.
				</li>
				<li>
					Children's personality analysis and reports
				</li>
				<li>
					Seminars for parents on teachers.
				</li>
				<li>
					Experienced and practicing advisory panel.
				</li>
				<li>
					Empaneled doctors for medical emergencies.
				</li>
				<li>
					Highly educated and visionary promoters.
				</li>
				<li>
					Watch your child live through phone and laptop.
				</li>
			</ul>
		</div>
	</div>
</div>

</div>
</div>
</section>
{% endblock %}
