{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
 <div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>List of Holidays—Year 2017-2018</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div>

            

              <p> </p>

              <p>14th July 2014                                      -Bonalu</p>

              <p>29th July 2014                                     -Ramzan Eid</p>
              <p>8th August 2014                                   -Varalakshmi Vratham</p>

              <p>15th August 2014                              -Independence Day</p>
              <p>18th August 2014                             -Janamashtami</p>

              <p>20th August 2014                              -RakshaBandhan</p>


              <p>29th August 2014                          - Ganesh Chaturthi</p>
              <p>2nd October 2014                         -Gandhi Jayanti</p>
              <p>8th September 2014                          - Ganesh Visarjan</p>
              <p>29thOctober 2014 <strong>to</strong> 6th October 2014             -Dussehra Holidays</p>

              <p>16th October 2014                       -Bakri Eid</p>


              <p>22nd &amp; 23rd th Octomber 2014                            -Diwali</p>

              <p>4th November 2014                        -Moharram</p>

              <p>24th December 2014  <strong>to</strong> 2nd January 2014 -Christmas Holidays</p>

              <p>13th January 2015                                   -Milad-Un-Nabi</p>

              <p>14th,15th&amp;16th January 2015  -Sankranti Holidays</p>
              <p>26th January 2015                                   -Republic Day</p>
              
              <p>17th February 2015                                -Mahashivratri</p>

              <p>6th March2015                                         -Holi</p>

              <p>3rd April 2015                                         -Good Friday</p>
              <p>14th April 2015                                         -Ambedkar Jayanthi</p>
              <p><strong>  Last working day for the Academic Year 2014-15 is 17th April 2015 (Friday)</strong></p>
              <p><strong>  School Re-Opening day for the Academic Year 2015-16 is 11th June 2015 (Thurs day)</strong></p>
              <p>&nbsp;</p>

              <p>We have any notices to informed parents day by day.</p>

            <!--  end entry -->

                

          </div>

            <div class="c-4 sidebar">

            </div><!-- end widget-what-we-do --><!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->

	{% endblock %} 
