{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}


<section class="kids sectionPadding">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="sectionTitle">
							<h2>Classes with happy children</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div><!--end sectionTitle -->
						
					</div><!--end col-sm-8 -->

					<div class="col-sm-4">
						<div class="smartClass">
							<h3>
								<a href="#">
									<i class="fa fa-trophy"></i>
									Smart Turtle Class
								</a>
							</h3>
							<img src="/static/cremon-static/assets/img/Images/photodune-272404-two-little-girls-and-female-teacher-in-kindergarten-xs.jpg" alt="img">

							<div class="infoClass">
								<p >The perfect class for your child with the best 
								staff and best teachers.</p>

								<ul class="clearfix">
									<li><span>age:</span> 12-24 months</li>
									<li><span>size:</span> 20 seats</li>
								</ul>

								<a href="#"><i class="fa fa-chevron-right"></i></a>
							</div><!--end infoClass -->
						</div><!--end smartClass -->
					</div><!--end col-sm-4 -->
					
					<div class="col-sm-4">
						<div class="smartClass">
							<h3>
								<a href="#">
									<i class="fa fa-trophy"></i>
									Smart Turtle Class
								</a>
							</h3>
							<img src="/static/cremon-static/assets/img/Images/photodune-272404-two-little-girls-and-female-teacher-in-kindergarten-xs.jpg" alt="img">

							<div class="infoClass">
								<p >The perfect class for your child with the best 
								staff and best teachers.</p>

								<ul class="clearfix">
									<li><span>age:</span> 12-24 months</li>
									<li><span>size:</span> 20 seats</li>
								</ul>

								<a href="#"><i class="fa fa-chevron-right"></i></a>
							</div><!--end infoClass -->
						</div><!--end smartClass -->
					</div><!--end col-sm-4 -->

					<div class="col-sm-4">
						<div class="smartClass">
							<h3>
								<a href="#">
									<i class="fa fa-trophy"></i>
									Little Star Class
								</a>
							</h3>
							<img src="/static/cremon-static/assets/img/Images/photodune-272404-two-little-girls-and-female-teacher-in-kindergarten-xs.jpg" alt="img">

							<div class="infoClass">
								<p >The perfect class for your child with the best 
								staff and best teachers. </p>

								<ul class="clearfix">
									<li><span>age:</span> 12-24 months</li>
									<li><span>size:</span> 20 seats</li>
								</ul>

								<a href="#"><i class="fa fa-chevron-right"></i></a>
							</div><!--end infoClass -->
						</div><!--end smartClass -->
					</div><!--end col-sm-4 -->
				</div><!--end row -->
			
			</div><!--end container -->
	</section>
	{% endblock %} 
