{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
<div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>Parent Resources</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div>
                 
                  <div>
                    <ul>
                      <li><a href="http://www.indianmontessoricentre.org/" target="_blank">Indian Montessori Center</a></li>
                      <li><a href="http://www.montessori-namta.org/" target="_blank">North American Montessori Teachers&rsquo; Association</a></li>
                      <li><a href="http://montessori.org/" target="_blank">The Montessori Foundation</a></li>
                      <li><a href="http://www.montessori-science.org/" target="_blank">Author Angeline Lillard</a></li>
                    </ul>
                    <p> </p>
                    <p>Click here to listen to Dr. Stephen Hughes, a pediatric neuro-psychologist from the University of Minnesota Medical School, talk about the value of a Montessori education <a href="http://www.youtube.com/watch?" target="_blank">http://www.youtube.com/watch?</a></p>
                    <p><strong>Suggested Reading:</strong></p>
                    <p><strong>Montessori:</strong> The Science Behind the Genius by Angeline Stoll Lillard. Lillard presents the research concerning eight insights that are foundational to Montessori education and describes how each of these insights is applied in the Montessori classroom.</p>
                    <p><strong>Secret of Childhood by Maria Montessori</strong></p>
                    <p>&lsquo;The Secret of Childhood&lsquo; is one of the first books that Maria Montessori wrote. She explains her method which she developed from observing children and giving them the freedom to explore their world around them. It is here that she<br />
                      discovered &lsquo;the secret of childhood&rsquo; .</p>
                    <p><strong>The Absorbent Mind by Maria Montessori</strong></p>
                    <p>From birth to six is what Montessori called the all around formative period of the Absorbent Mind. It is the period in the child&rsquo;s development that forms the foundation for later intellectual and psychological development </p>
                    <p><strong>Last Child in the Woods: Saving Our Children From Nature-Deficit Disorder by Richard Louv</strong><br />
                      &ldquo;The children and nature movement is fueled by this fundamental idea: the child in nature is an endangered species, and the health of children and the health of the Earth are inseparable.&rdquo; </p>
                    <p><strong>The Element: How Finding Your Passion Changes Everything by Sir Ken Robinson</strong><br />
                      The Element is the point at which natural talent meets personal passion. When people arrive at the Element, they feel most themselves, most inspired and achieve at their highest levels. With a wry sense of humor, Ken Robinson looks at the conditions that enable us to find ourselves in the Element and those that stifle that possibility. His observations are highly relevant to education and draw from real-world stories about how schools can help or deter personal passion </p>
                    <p><strong>The No-Cry Discipline Solution:</strong> Gentle Ways to Encourage Good Behavior Without Whining, Tantrums, and Tears:  by Elizabeth Pantley. This book is worth reading for its practical applications to common and very &ldquo;real&rdquo; parenting scenarios. The no-cry parenting tactics offer solutions by having parents &ldquo;think about&rdquo; the scenario and then explain what they should do as well as what they shouldn&rsquo;t. Situations range from baby talk, talking back, biting, manners, and even sharing </p>
                    <p><strong>Montessori Madness:</strong> A Parent to Parent Argument for Montessori Education by Trevor Eissler. This book asks parents to take a look – one thirty-minute observation – at a Montessori school. Your picture of what education should look like will never by the same.</p>
                    <p><strong>Positive Discipline A-Z:</strong> 1001 Solutions to Everyday Parenting Problems (Positive Discipline Library) by Jane Nelsen Ed.D., Lynn Lott, and H. Stephen Glenn.Dr. Jane Nelsen is a licensed Marriage, Family and Child Counselor in South Jordan, Ut and Carlsbad, CA </p>
                  </div>
                  <p>&nbsp;</p>
              </div><!--  end entry -->

                

            </div>

            <div class="c-4 sidebar">


                </div><!-- end widget-what-we-do --><!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->

	
	{% endblock %} 
