{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
	
 <div id="content">

    	

        <div class="wrap">

            <div class="c-8">

            

              <div class="page">
<section class="sectionPadding testimonials" style="border:none; margin-top:-4.5rem; color:black;" >
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="sectionTitle">
							<h2>Cremon Montessori House Of Childrens</h2>
							<div class="underline">
								<span class="line" ></span>
							</div><!--end underline -->
						</div><!--end sectionTitle -->
			</div>
	</div>
	              <p><strong>Programmes</strong></p>

                  <p>Our Montessori offers a seamless educational experience for your child. Our Montessori trained adults share a common vision, guided by Cremon Montessori’s principles. As your child progresses through each level, the curriculum builds upon his or her experiences in the previous program, offering a uniterrupted continuum of education.</p>
                <p><strong>Early Years Program</strong></p>
                <p>Our Early years environment is designed to meet the developmental needs of children 18 months to 28 months of age.</p>
                <p>The young child has a very strong sense of order, a great desire for self-direction, and a preference for parallel (side by side) play. The environment is thoughtfully prepared with this in mind, allowing the child to explore and learn in a secure and loving environment. The furniture and equipment are sized to help foster independence.</p>
                <p>Activities are attractively displayed on shelves that stimulate and nourish the small child’s sensorial need to smell, touch, hear, see and taste. Language acquisition, cognitive skills, art and music, are all practiced daily. The children love to run and climb and enjoys play on our spacious play areas.</p>
<p><strong>Montessori / Pre - Primary Program</strong></p>
                    <p>Our Montessori environment is designed to meet the developmental needs of children 2½ to 6 years of age.</p>
                    <p>Cremon offers a rich learning environment full of materials in math, language, science, geography, cultural studies and art. These areas are integrated so that, for example, what is presented as a Botony lesson also has elements of language and Math.</p>
                    <p>Children within a three year age span work together in the classroom. The more experienced children become mentors to the younger children. The less experienced children become engaged and excited about learning by observing the academic success of the older children. All children work at their own pace as they are guided through the curriculum. Once they are finished with an activity, the children return the materials and take responsibilities for clearning up after themselves.We engage the children in divergent thinking. The Montessori Method generates creative ideas by exploring many possible solutions.</p>
                    <p>This child-centered program is designed for children between three and six years old.</p>
                <p>The Children’s House is designed as a whole environment integrating four main areas of learning: Practical Life, Sensorial, Arithmetic and Language.</p>
                    <p>Children possess what  Montessori called the <em>absorbent mind,</em> the ability to absorb all aspects of one’s culture and environment without effort or fatigue. As an aid to this period of the child’s self-construction, individual work is encouraged. The following areas of activity cultivate the children’s adaptation and ability to express and think with clarity:</p>
                    <p><strong>Practical Life</strong> exercises instill care for self, for others, and for the environment. Activities include many of the tasks children see as part of the daily routine in their home, such as preparing food and cleaning activities, along with exercises of grace and courtesy. Through these tasks, children develop muscular coordination, enabling movement and the exploration of their surroundings. They learn to work at a task from beginning to end, and develop their powers of control and concentration.</p>
                    <p><strong>Sensorial materials</strong> serve as tools for development. Children build cognitive skills, and learn to order and classify impressions by touching, seeing, smelling, tasting, listening, and exploring the physical properties of their environment.</p>
                    <p><strong>Language development </strong>is vital to human development. The Montessori environment is rich in oral language opportunities, allowing the child to experience conversations, stories and poetry. The sandpaper letters help children link sound and symbol effortlessly, encouraging the development of written expression and reading skills. To further reading development, children are exposed to the study of grammar.Language is integrated across the above three curricular areas and further developed through contextual vocabulary acquisition, informative conversations, singing, and grammar.</p>
                    <p><strong>Arithmetic</strong> activities gives children a sound understanding of basic mathematical principles such as addition, subtraction,multiplication &amp; division which prepares them for later abstract reasoning, and helps to develop problem-solving capabilities.</p>
                    <p><strong>Geography, Biology, Botany, Zoology and Art</strong> are presented as extensions of the sensorial and language activities. Children learn about people and cultures in other countries with an attitude of respect and admiration. Through familiarity, children come to feel connected to the global human family. Lessons and experiences with nature inspire a reverence for all life. The comprehensive art  programs give children every opportunity to enjoy a variety of creative activities, as well as gain knowledge of the great masters.</p>
              </div><!--  end entry -->

                
            </div>

            <div class="c-4 sidebar">
            <div class="c-4 sidebar">

                <!-- end widget-working-hours -->

                

					<!-- end widget-what-we-do --><!-- end widget-caregories -->

                    

            </div><!-- end sidebar -->

        </div><!-- end wrap -->

        

    </div><!-- end content -->

	
	
	
	
	
	{% endblock %} 
