{% extends "base.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}


						
			 <section class="sectionPadding teachers" style="background-image:url(/static/cremon-static/assets/img/Images/geometry2.png);" > 
		<div class="container">
			<div class="row">
			
							<h2>Testimonial</h2>
							<div class="underline">
								<span class="line"></span>
							</div><br>



						
			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>The Montessori education allows children to experience the joy of learning at an early age.</em></p>


</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>The Montessori education allows children to experience the joy of learning at an early age.</em></p>

 
</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>The Montessori education allows children to experience the joy of learning at an early age.</em></p>

 
</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>The Montessori education allows children to experience the joy of learning at an early age.</em></p>


</blockquote>
			  </div><!--end col -->

<div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>
The Montessori education allows children to experience the joy of learning at an early age.</em></p>


</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>
The Montessori education allows children to experience the joy of learning at an early age.</em></p>

 
</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>
The Montessori education allows children to experience the joy of learning at an early age.</em></p>

 
</blockquote>
			  </div><!--end col -->

			  <div class="col-sm-12 col-md-12">
			    <blockquote>
<a href="images">- Ravi</a>
                 <p><em>The Montessori education allows children to experience the joy of learning at an early age.<br>
The Montessori education allows children to experience the joy of learning at an early age.</em></p>


</blockquote>
			  </div><!--end col -->
			</div><!--end row -->
		</div><!--end container -->
	</section>
			</div><!--end row -->
		</div><!--end container -->
	</section>
	
		
	{% endblock %} 
